body{margin: 0; opacity: .4;}
:root{
    --columns: repeat(3, 1fr);
    --rows: repeat(2, 1fr);

    --middle-column: 100%;
    --middle-rows: repeat(2, 1fr);
}

.container{
/*  Making sure the container 
      takes up all the width 
    and height of the viewport  
*/
    height: 100vh;

    display: grid;
    
/* Repeat 3 times 1 FRaction */
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);

/* Define grid area and name them */
    grid-template-areas: 
    "left middle_one right"
    "left middle_two right";
}

/*     Define the grid area 
   container will be put in*/
.left{
    grid-area: left;
    background: blue;
}

.middle__one{grid-area: middle_one;background: pink;}
.middle__two{grid-area: middle_two;background: turquoise;}
.right{
    grid-area: right;
    background: green;
}


/* We resize for smaller screens:
   @media(for screen with a max width of 1024px)
*/
@media (max-width:1024px){
    :root{
        --columns: 100%;
        --rows: 10% 40% 40% 10%;
    }

/* We simply change the container
   grid template area to relocate
   our different items inside  */
   
    .container{
            grid-template-areas: 
            "left" 
            "middle_one"
            "middle_two"
            "right";
    }
}